
@font-face {
    font-family: 'Muller';
    src: local(Muller-Regular), url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: local(Muller-Medium), url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: local(Muller-Bold), url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    min-width: 320px;
    font-family: 'Muller', sans-serif;
    background-color: #F1F1F1;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.flex {
    display: flex;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.section-title {
    margin: 0;
    margin-bottom: 20px;
    padding-left: 40px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333333;
}



/* header */
.header-flex {
    flex-direction: column;
}

.header-tel {
    margin-right: auto;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #666666;
}
 .header {
    padding-top: 30px;
    margin-bottom: 70px;
 }
 .header-link {
    margin-bottom: 30px;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #666666;
 }

 .header-link-lk {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
 }

 .header-logo {
    margin-right: 30px;
 }

.header-list:not(:last-child) {
    margin-right: 45px;
}
.header-nav-div {
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 14px 45px;
    border-radius: 15px;
}


.header-btn {
    padding: 13px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
    border: 1px solid #CC9933;
    border-radius: 10px;
}

.header-btn:not(:last-child) {
margin-right: 40px;
}

.hidden {
    display: none;
}

/* special */
.special-offers-div {
    flex-direction: column;
    margin-right: 24px;
}

.special-offers-item {
    align-items: flex-start;
    min-height: 258px;
    width: 573px;
    flex-direction: column;
    padding: 40px 108px 40px 45px;
}

.special-offers-item-1 {
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('../img/special-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.special-offers-item-2 {
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('../img/special-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}


.special-offers-item:first-child {
    margin-bottom: 24px;
}

.special-offers-item-div {
    width: 573px;
    min-height: 540px;
    align-items: flex-start;
    padding: 0 229px 40px 45px;
    justify-content: flex-end;
}

.special-offers-item-title {
    margin: 0;
    margin-bottom: 15px;
    max-width: 420px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #FFF;
}

.special-offers-item-span {
    margin-bottom: 47px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFF;
    opacity: 0.8;
}

.special-offers-item-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #F0BF5F;
    background-image: url('../img/special-s.svg');
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 15px;

}

.special-offers-item-div {
    flex-direction: column;
    background-image: url('../img/special-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.special-offers-item-title-div {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: #FFFFFF;
}

.special-offers-item-span-div {
    margin-bottom: 47px;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
    opacity: 0.8;
}

.special-offers {
    margin-bottom: 70px;
}

/* about us */
.about-us-text {
    margin: 0;
    max-width: 888px;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
}

.about-us {
    margin-bottom: 70px;
}

/* services */
.services {
    margin-bottom: 70px;
}

.services-items {
    flex-wrap: wrap;
}

.services-h3 {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    max-width: fit-content;
    color: #CC9933;
}
.services-item {
    width: 573px;
    min-height: 330px;
    margin-bottom: 24px;
    padding: 0 126px 35px 45px;
    flex-direction: column;
    border-radius: 15px;
    justify-content: flex-end;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #FFF;
}
.services-item-1 {
    background-image: url('../img/services-1.jpg');
}
.services-item-2 {
    background-image: url('../img/services-2.jpg');
}
.services-item-3 {
    background-image: url('../img/services-3.jpg');
}
.services-item-4 {
    background-image: url('../img/services-4.jpg');
}

.services-item:not(:nth-child(-n+2)){
    margin-bottom: 0;
}

.services-item:not(:nth-child(2n)) {
    margin-right: 24px;
}

.servises-item-text {
    margin: 0;
    max-width: 420px;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
}

/* advantages */
.advantages {
    margin-bottom: 70px;
}

.advantages-items {
    flex-wrap: wrap;
}

.advantages-item {
    width: 276px;
    min-height: 276px;
    margin-bottom: 22px;
    padding: 116px 42px 32px 45px;
    background-color: #fff;
    border-radius: 15px;
    background-position: 40px 45px;
    background-repeat: no-repeat;
}

.advantages-item-1 {
    background-image: url('../img/advantages-1.svg');
}
.advantages-item-2 {
    background-image: url('../img/advantages-2.svg');
}
.advantages-item-3 {
    background-image: url('../img/advantages-3.svg');
}
.advantages-item-4 {
    background-image: url('../img/advantages-4.svg');
}
.advantages-item-5 {
    background-image: url('../img/advantages-5.svg');
}
.advantages-item-6 {
    background-image: url('../img/advantages-6.svg');
}
.advantages-item-7 {
    background-image: url('../img/advantages-7.svg');
}
.advantages-item-8 {
    background-image: url('../img/advantages-8.svg');
}

.advantages-item:not(:nth-child(4n)) {
    margin-right: 22px;
}

.advantages-item:not(:nth-child(-n+4)) {
    margin-bottom: 0;
}

.advantages-item-text {
    margin: 0;
    max-width: 189px;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
}

/* placement */
.placement {
    margin-bottom: 70px;
}

.placement-items {
    flex-wrap: wrap;
    margin: 0;
}

.placement-item {
    width: 374px;
    min-height: 440px;
    background-color: #fff;
    margin-bottom: 24px;
    border-radius: 15px;
}

.placement-price-span {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #999999;
}

.placement-price-text {
    margin-right: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.placement-price-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

.placement-text-dsr {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.placement-text-geo {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #999999;
}


.placement-item:not(:nth-child(3n)) {
    margin-right: 24px;
}

.placement-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.placement-div {
   padding: 32px 45px 45px 45px;
}

.placement-btn {
    border: 1px solid #CC9933;
    padding: 13px 20px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
}

.placement-item-other {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 27px;
    background-image: url('../img/placement-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.placement-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #FFFFFF;
    background-image: url('../img/placement-s.svg');
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 15px;
}